Source: sitecopy
Section: web
Priority: extra
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>> 3.0.0), libexpat1-dev, libxmltok1-dev, libgnome-dev, libglade-gnome0-dev, libneon-dev, gettext, autoconf
Standards-Version: 3.5.2

Package: sitecopy
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: xsitecopy (<< 1:0.10.15-1)
Suggests: xsitecopy
Description: A program for managing a WWW site via FTP, DAV or HTTP
 sitecopy is for copying locally stored websites to remote ftp servers.  
 With a single command, the program will synchronize a set of local files
 to a remote server by performing uploads and remote deletes as required.
 The aim is to remove the hassle of uploading and deleting individual files 
 using an FTP client.  sitecopy will also optionally try to spot files you 
 move locally, and move them remotely.
 .
 sitecopy is designed to not care about what is actually on the remote
 server - it simply keeps a record of what it THINKS is in on the remote
 server, and works from that.
 
Package: xsitecopy
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: sitecopy (<< 1:0.10.15-1)
Description: A program for managing a WWW site via FTP, DAV or HTTP(GNOME version)
 sitecopy is for copying locally stored websites to remote ftp servers.  
 With a single command, the program will synchronize a set of local files
 to a remote server by performing uploads and remote deletes as required.
 The aim is to remove the hassle of uploading and deleting individual files
 using an FTP client.  sitecopy will also optionally try to spot files you 
 move locally, and move them remotely.
 .
 sitecopy is designed to not care about what is actually on the remote server -
 it simply keeps a record of what it THINKS is in on the remote server, and
 works from that.
 .
 This version is the GNOME frontend to sitecopy.
